[Desktop Entry]
Version=1.0
Name[en_US]=Binja
GenericName[en_US]=Binja
Comment[en_US]=Binary Ninja
Exec=/home/test/Documents/binja/binaryninja
Path=/home/test/Documents/binja/
Icon=/home/test/Documents/binja/docs/img/logo.png
Terminal=false
Type=Application
Categories=Application
